---
import Layout from '../layouts/BlogPost.astro';
import { SITE_TITLE } from '../consts';
---

<Layout title={`Acerca de - ${SITE_TITLE}`} description="Conoce más sobre Saber Curioso y su misión">
  <main>
    <h1>Acerca de Saber Curioso</h1>
    <p>Tu misión y visión aquí...</p>
  </main>
</Layout>