---
import Layout from '../layouts/BlogPost.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <h1>Bienvenido a Saber Curioso</h1>
    <p>Descubre algo nuevo cada día</p>
    <!-- Tu contenido aquí -->
  </main>
</Layout>